@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap");

$darkest: #0B4F6C;
$dark: #757575;
$neut: #20BF55;
$light: #01BAEF;
$lighter: #FBFBFF;

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  position: relative;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  &:link, &:active, &:visited, &:hover {
    color: $lighter;
  }
}

@mixin underline($color) {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 1rem;
    height: 0.5rem;
    background-image: linear-gradient(to bottom, $color, transparent);
    width: 100%;
  }
}

.contact-bar {
  position: fixed;
  left: -7.5rem;;
  top: 25%;
  background-color: $light;
  z-index: 2;
  transform: rotate(-90deg);
  font-size: 2rem;
  padding: .5rem 2rem;
  color: white;
  font-weight: 700;
  letter-spacing: 1rem;
  text-transform: uppercase;
  transition: opacity .2s;
  &:hover {
    opacity: .7;
  }
  @media (max-width: 1200px) {
    display: none;
  }
}

.hero-section {
  background-image: url(images/hero-compressor.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  @media (min-height: 983px) {
    height: 100vh;
  }
}

.logo-cont {
  height: 15rem;
  position: relative;
  width: 15rem;
  margin: auto;
  z-index: 1;
  svg {
    height: 100%;
  }
  @media (max-height: 900px) and (orientation: landscape) {
    height: 10rem;
    width: 10rem;
  }
}

nav {
  padding: 3rem 0;
}

nav ul {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  a {
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 0 1rem;
    position: relative;
    transition: opacity 0.3s;
    @include underline($neut);
    &:hover {
      opacity: 0.7;
    }
  }
  li {
    font-size: 2rem;
    color: $lighter;
    @media (max-width: 400px) {
      font-size: 1.6rem;
    }
  }
}

.bio-cont {
  position: relative;
  width: 110rem;
  max-width: 100%;
  z-index: 1;
  margin: auto;
  padding: 10rem 0;
  @media (max-width: 1100px) {
    padding: 0;
  }
}

.bio-cont-top {
  position: relative;
  display: flex;
  height: 50rem;
  overflow: hidden;
  z-index: 1;
  color: $lighter;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 10px $dark;
  div:nth-of-type(2) {
    width: 20rem;
    position: absolute;
    overflow: hidden;
    background-color: $neut;
    top: -50%;
    left: 50%;
    height: 200%;
    transform: rotate(-10deg);
    z-index: 0;
    @media (max-width: 900px) {
      display: none;
    }
  }
  @media (max-width: 1100px) {
    margin-bottom: 0;
  }
  @media (max-width: 730px) {
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 0;
  }
}

.bio-info {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 5.5rem 4rem;
  background-color: $neut;
  letter-spacing: .2rem;
  h1 {
    font-size: 4rem;
    padding-bottom: .5rem;
    position: relative;
    text-transform: uppercase;
    text-shadow: 0 .5px $dark;
  }
  h2 {
    font-size: 2rem;
    text-shadow: 0 .5px $dark;
  }
  ul {
    padding: 4rem 4rem;
    @media (max-width: 730px) {
      padding: 1rem 1rem 0;
    }
  }
  li {
    font-size: 2rem;
    padding: 2rem 0;
    font-weight: 700;
    @media (max-width: 730px) {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  svg {
    height: 2.5rem;
    padding-right: .5rem;
  }
  p {
    position: relative;
    top: -.5rem;
    display: inline-block;
  }
  a {
    position: relative;
    padding-bottom: .3rem;
    transition: opacity .3s;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $darkest;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover {
      opacity: .8;
    }
    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  @media (max-width: 900px) {
    flex: 0 0 65%;
  }
  @media (max-width: 730px) {
    flex: 0 0 100%;
    padding: 3rem 1.5rem;
  }
}

.bio-img {
  flex: 1;
  padding-left: 10rem;
  img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 900px) {
    padding: 0;
  }
  @media (max-width: 730px) {
    flex: 0 0 100%;
    position: relative;
    height: 40rem;
  }
}

.bio-cont-bottom {
  position: relative;
  text-align: center;
  background: $light;
  padding: 2rem;
  box-shadow: 1px 1px 10px $dark;
  p {
    padding: 1rem 0;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    color: $lighter;
  }
  button {
    outline: none;
    border: none;
    border-radius: 1rem;
    letter-spacing: .2rem;
    background-color: $lighter;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: $dark;
    margin: 3rem 0 1rem;
    font-weight: 700;
    transition: transform .3s;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
  background-color: $darkest;
  border-top: 2px solid $light;
}

::selection {
  background-color: $light;
}

/* scrollwidth */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $darkest;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $neut;
  border-radius: .5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(108, 201, 139);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .bio-info svg {
    display: none;
  }
  
  .bio-img img {
    object-fit: none;
    height: auto;
    width: 150%;
    left: -10rem;
    position: relative;
    z-index: -1;
  }
}