@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "IBM Plex Sans", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:link, a:active, a:visited, a:hover {
  color: #f5f6f3;
}

.hero-section {
  background-image: url(file:///C:/Users/samsm/Desktop/Website%20Development/New%20Personal%20Site/images/hero-compressor.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 70rem;
}

@media (max-height: 1200px) and (orientation: landscape) {
  .hero-section {
    height: 50rem;
  }
}

@media (max-height: 900px) and (orientation: landscape) {
  .hero-section {
    height: 30rem;
  }
}

.hero-section:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.logo-cont {
  height: 8rem;
  position: relative;
  width: 8rem;
  margin: auto;
  z-index: 1;
}

.logo-cont svg {
  height: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 700;
}

nav ul a {
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 0 1rem;
  position: relative;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

nav ul a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  height: 0.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#faa916), to(transparent));
  background-image: linear-gradient(to bottom, #faa916, transparent);
  width: 100%;
}

nav ul a:hover {
  opacity: 0.7;
}

nav ul li {
  font-size: 2rem;
  color: #f5f6f3;
}

.bio-cont {
  position: absolute;
  top: 40rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100rem;
  max-width: 100%;
}

@media (max-height: 1200px) and (orientation: landscape) {
  .bio-cont {
    top: 30rem;
  }
}

@media (max-height: 900px) and (orientation: landscape) {
  .bio-cont {
    top: 20rem;
  }
}

.bio-cont-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50rem;
  overflow: hidden;
  z-index: 1;
  color: #f5f6f3;
  margin-bottom: 5rem;
}

.bio-cont-top div:nth-of-type(2) {
  width: 20rem;
  position: absolute;
  overflow: hidden;
  background-color: #faa916;
  top: -50%;
  left: 50%;
  height: 200%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 0;
}

@media (max-height: 900px) and (orientation: landscape) {
  .bio-cont-top {
    height: 40rem;
  }
}

.bio-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 5.5rem 4rem;
  background-color: #faa916;
}

.bio-info h1 {
  font-size: 4rem;
  padding-bottom: .5rem;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0 0.5px #4c5454;
}

.bio-info h2 {
  font-size: 2rem;
  text-shadow: 0 0.5px #4c5454;
}

.bio-info ul {
  padding: 3rem 0;
}

.bio-info a {
  position: relative;
}

.bio-info a:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4c5454;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.bio-info a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.bio-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10rem;
}

.bio-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}

.bio-cont-bottom {
  position: relative;
  text-align: center;
  background: #c4d6b0;
  padding: 2rem;
}

.bio-cont-bottom p {
  padding: 1rem 0;
  font-size: 1.8rem;
}

.bio-cont-bottom button {
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: #faa916;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 1rem 0;
  font-weight: 700;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  cursor: pointer;
}

.bio-cont-bottom button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio-cont {
  position: relative;
  background-image: url(file:///C:/Users/samsm/Desktop/Website%20Development/New%20Personal%20Site/images/Flat-Mountains.svg);
  background-size: cover;
  background-position: bottom;
  height: 1200px;
  z-index: -1;
}

::-moz-selection {
  background-color: #c4d6b0;
}

::selection {
  background-color: #c4d6b0;
}
/*# sourceMappingURL=style.css.map */