@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "IBM Plex Sans", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:link, a:active, a:visited, a:hover {
  color: #FBFBFF;
}

.contact-bar {
  position: fixed;
  left: -7.5rem;
  top: 25%;
  background-color: #01BAEF;
  z-index: 2;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 2rem;
  padding: .5rem 2rem;
  color: white;
  font-weight: 700;
  letter-spacing: 1rem;
  text-transform: uppercase;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.contact-bar:hover {
  opacity: .7;
}

.hero-section {
  background-image: url(file:///C:/Users/samsm/Desktop/Website%20Development/New%20Personal%20Site/images/hero-compressor.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 70rem;
}

@media (max-height: 1200px) and (orientation: landscape) {
  .hero-section {
    height: 50rem;
  }
}

@media (max-height: 900px) and (orientation: landscape) {
  .hero-section {
    height: 30rem;
  }
}

.hero-section:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.logo-cont {
  height: 15rem;
  position: relative;
  width: 15rem;
  margin: auto;
  z-index: 1;
}

.logo-cont svg {
  height: 100%;
}

@media (max-height: 900px) and (orientation: landscape) {
  .logo-cont {
    height: 10rem;
    width: 10rem;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
}

nav ul a {
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 0 1rem;
  position: relative;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

nav ul a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  height: 0.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#20BF55), to(transparent));
  background-image: linear-gradient(to bottom, #20BF55, transparent);
  width: 100%;
}

nav ul a:hover {
  opacity: 0.7;
}

nav ul li {
  font-size: 2rem;
  color: #FBFBFF;
}

.bio-cont {
  position: absolute;
  top: 40rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 110rem;
  max-width: 100%;
  z-index: 1;
}

@media (max-height: 1200px) and (orientation: landscape) {
  .bio-cont {
    top: 30rem;
  }
}

@media (max-height: 900px) and (orientation: landscape) {
  .bio-cont {
    top: 20rem;
  }
}

.bio-cont-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50rem;
  overflow: hidden;
  z-index: 1;
  color: #FBFBFF;
  margin-bottom: 5rem;
  -webkit-box-shadow: 1px 1px 10px #757575;
          box-shadow: 1px 1px 10px #757575;
}

.bio-cont-top div:nth-of-type(2) {
  width: 20rem;
  position: absolute;
  overflow: hidden;
  background-color: #20BF55;
  top: -50%;
  left: 50%;
  height: 200%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 0;
}

@media (max-height: 900px) and (orientation: landscape) {
  .bio-cont-top {
    height: 40rem;
  }
}

.bio-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 5.5rem 4rem;
  background-color: #20BF55;
  letter-spacing: .2rem;
}

.bio-info h1 {
  font-size: 4rem;
  padding-bottom: .5rem;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0 0.5px #757575;
}

.bio-info h2 {
  font-size: 2rem;
  text-shadow: 0 0.5px #757575;
}

.bio-info ul {
  padding: 4rem 4rem;
}

.bio-info li {
  font-size: 2rem;
  padding: 2rem 0;
  font-weight: 700;
}

.bio-info svg {
  height: 2.5rem;
  padding-right: .5rem;
}

.bio-info p {
  position: relative;
  top: -.5rem;
  display: inline-block;
}

.bio-info a {
  position: relative;
  padding-bottom: .3rem;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.bio-info a:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0B4F6C;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.bio-info a:hover {
  opacity: .8;
}

.bio-info a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.bio-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10rem;
}

.bio-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}

.bio-cont-bottom {
  position: relative;
  text-align: center;
  background: #01BAEF;
  padding: 2rem;
  -webkit-box-shadow: 1px 1px 10px #757575;
          box-shadow: 1px 1px 10px #757575;
}

.bio-cont-bottom p {
  padding: 1rem 0;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: #FBFBFF;
}

.bio-cont-bottom button {
  outline: none;
  border: none;
  border-radius: 1rem;
  letter-spacing: .2rem;
  background-color: #FBFBFF;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #757575;
  margin: 3rem 0 1rem;
  font-weight: 700;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  cursor: pointer;
}

.bio-cont-bottom button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio-cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(file:///C:/Users/samsm/Desktop/Website%20Development/New%20Personal%20Site/images/Flat-Mountains.svg);
  background-size: cover;
  background-position: bottom;
}

.portfolio-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 57rem 2rem 10rem;
}

.portfolio-items h2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
  margin-bottom: 8rem;
  font-size: 3rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-shadow: 0 0.5px #757575;
  position: relative;
  padding: 0 2rem 2rem;
  color: #20BF55;
}

.portfolio-items h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  height: 0.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#20BF55), to(transparent));
  background-image: linear-gradient(to bottom, #20BF55, transparent);
  width: 100%;
}

@media (max-height: 1200px) and (orientation: landscape) {
  .portfolio-items {
    margin: 65rem 2rem 10rem;
  }
}

.portfolio-piece {
  position: relative;
  width: 45%;
  height: 26rem;
  margin-bottom: 4rem;
  background-color: red;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 10px #757575;
          box-shadow: 1px 1px 10px #757575;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.portfolio-piece:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.portfolio-piece img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio-piece:nth-child(2) .portfolio-overlay {
  background-color: rgba(0, 143, 180, 0.5);
}

.portfolio-piece:nth-child(2) .portfolio-overlay:hover {
  background-color: rgba(0, 143, 180, 0.9);
}

.portfolio-piece:nth-child(2) svg {
  top: 2rem;
  position: relative;
  width: 70%;
}

.portfolio-piece:nth-child(3) .portfolio-overlay {
  background-color: rgba(176, 189, 33, 0.5);
}

.portfolio-piece:nth-child(3) .portfolio-overlay:hover {
  background-color: rgba(176, 189, 33, 0.9);
}

.portfolio-piece:nth-child(3) svg {
  width: 90%;
  top: -2rem;
  position: relative;
}

.portfolio-piece:nth-child(4) .portfolio-overlay {
  background-color: rgba(31, 5, 54, 0.5);
}

.portfolio-piece:nth-child(4) .portfolio-overlay:hover {
  background-color: rgba(31, 5, 54, 0.9);
}

.portfolio-piece:nth-child(4) svg {
  width: 70%;
}

.portfolio-piece:nth-child(5) .portfolio-overlay {
  background-color: rgba(227, 25, 55, 0.5);
}

.portfolio-piece:nth-child(5) .portfolio-overlay:hover {
  background-color: rgba(227, 25, 55, 0.9);
}

.portfolio-piece:nth-child(5) svg {
  top: 3rem;
  position: relative;
  width: 100%;
}

.portfolio-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

::-moz-selection {
  background-color: #01BAEF;
}

::selection {
  background-color: #01BAEF;
}

/* scrollwidth */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0B4F6C;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #20BF55;
  border-radius: .5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #6cc98b;
}
/*# sourceMappingURL=style.css.map */